<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Strona schroniska</title>
        <!--   LOGO -> <link rel="icon" href="" type="image/x-icon">  -->
        <link rel="stylesheet" href="stylesheets/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>


    <body>
        <!-- header with logo + menu -->
        <div class="header">
            <ul class="nav-bar">  
                <li class="nav-dog-title"> 
                    <img class="dog-icon"src="images/dog-icon.png" alt="Zdjecie pieska" >
                    <a class="nav-title">Super </br> schronisko w </br> jakimś mieście</a>
                </li>
                <li class="nav-button"><a href="/home">Aktualności</a></li>
                <li class="nav-button"><a href="/reserveWalk">Zarezerwuj spacer</a></li>
                <li class="nav-button"><a href="/ourDogs">Nasze pieski</a></li>
                <li class="nav-button"><a href="/supportUs">Wesprzyj nas</a></li>
                <li class="nav-button"><a href="/contact">Kontakt</a></li>
                <li class="nav-login-button">
                <% if(user){ %>
                    <button class="login-button" onclick="window.location.href='/user/myWalks';">
                        <a class="login-label" > <%= user.name %></a>
                        <img class="user-icon"src="images/user-icon.png" alt="Logo uzytkownika" >
                    </button>
                <% } else{ %>  
                    <button class="login-button" onclick="window.location.href='/login';">
                        <a class="login-label" >Zaloguj się</a>
                        <img class="user-icon"src="images/user-icon.png" alt="Logo uzytkownika" >
                    </button>
                <% } %>

            </li>
            </ul>
        </div>


        <!-- main site -->
        <div class="main">
            <h1>Kontakt</h1>
            <div class="box_container">
                <div class="contact_frame">
                    <h3>Super schronisko w jakimś mieście </h3>
                    <div class="contact_with_icon">
                        <i class="fa fa-home icon"></i>
                        <p>ul. Bura 23, 30-000 Kraków</p>
                    </div>
                    <div class="contact_with_icon">
                        <i class="fa fa-phone icon"></i>
                        <p>+48 123 456 789</p>
                    </div>
                    <div class="contact_with_icon">
                        <i class="fa fa-envelope-o icon"></i>
                        <p>admin@super.com</p>
                    </div>
                </div>
                <!-- contact form -->
                <div class="contact_container">
                    <form action="action_page.php">
                        <h2>Napisz do nas!</h2>
                        <input type="text" id="fname" name="names" placeholder="Imię i nazwisko..." required oninvalid="this.setCustomValidity('Pole wymagane')" oninput="this.setCustomValidity('')">
                        <input type="text" id="femail" name="put_email" placeholder="E-mail..." required oninvalid="this.setCustomValidity('Pole wymagane')" oninput="this.setCustomValidity('')">
                        <textarea id="subject" name="subject" placeholder="Wiadomość..." required oninvalid="this.setCustomValidity('Pole wymagane')" oninput="this.setCustomValidity('')"></textarea>           
                        <input type="submit" value="   Wyślij   ">
                    </form>
                  </div>
            </div>
        </div>


        <!-- footer -->
        <div class="footer">
            <div class="creator">©2023 Created by <span>Grupa G</span> | All rights reserved</div>
        </div>

    </body>
</html>