<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Strona schroniska</title>
        <!--   LOGO -> <link rel="icon" href="" type="image/x-icon">  -->
        <link rel="stylesheet" href="stylesheets/style.css">
    </head>


    <body>
        <!-- header with logo + menu -->
        <div class="header">
            <ul class="nav-bar">  
                <li class="nav-dog-title"> 
                    <img class="dog-icon"src="images/dog-icon.png" alt="Zdjecie pieska" >
                    <a class="nav-title">Super </br> schronisko w </br> jakimś mieście</a>
                </li>
                <li class="nav-button"><a href="/home">Aktualności</a></li>
                <li class="nav-button"><a href="/reserveWalk">Zarezerwuj spacer</a></li>
                <li class="nav-button"><a href="/ourDogs">Nasze pieski</a></li>
                <li class="nav-button"><a href="/supportUs">Wesprzyj nas</a></li>
                <li class="nav-button"><a href="/contact">Kontakt</a></li>
                <li class="nav-login-button">
                <% if(user){ %>
                    <button class="login-button" onclick="window.location.href='/user/myWalks';">
                        <a class="login-label" > <%= user.name %></a>
                        <img class="user-icon"src="images/user-icon.png" alt="Logo uzytkownika" >
                    </button>
                <% } else{ %>  
                    <button class="login-button" onclick="window.location.href='/login';">
                        <a class="login-label" >Zaloguj się</a>
                        <img class="user-icon"src="images/user-icon.png" alt="Logo uzytkownika" >
                    </button>
                <% } %>

            </li>
            </ul>
        </div>


        <!-- main site -->
        <div class="main">
            <h1>Aktualności</h1>
            <div class="box_container">
                <div class="post_container">
                    <h2>Ostatnio znalezione</h2>
                    <p>Spis psów znalezionych w ostatnim czasie i oddanych do naszego schroniska.</p>
                    <button class="astext" onclick='window.location.href = "./found"'><b>Czytaj dalej...</b></button>
                </div>
                <div class="post_container">
                    <h2>Zamknięcie schroniska w okresie świątecznym</h2>
                    <p>Schronisko będzie zamknięte w dniach od 24 grudnia do 26 grudnia, włącznie z dniem Bożego Narodzenia. W przypadku sytuacji pilnej i nieodzownej, prosimy o kontakt telefoniczny pod numerem 123 456 789. Chętnie udzielimy wsparcia i podjęcie niezbędnych działań w nagłych przypadkach. </p>
                    <button class="astext" onclick='window.location.href = "./newsClosed"'><b>Czytaj dalej...</b></button>
                </div>
                <div class="post_container">
                    <h2>Zbiórka karmy dla psów</h2>
                    <p>Ogłaszamy serdeczne i potrzebne wydarzenie - zbiórkę karmy dla naszych niezwykłych podopiecznych psiaków, które czekają na nowy dom i szansę na szczęśliwe życie. Zbiórka karmy dla psów rozpocznie się już 1 grudnia i potrwa przez cały miesiąc. To doskonała okazja, aby podzielić się dobrem i wpłynąć pozytywnie na życie tych wiernych zwierząt, które znalazły się w trudnej sytuacji.</p>
                    <button class="astext" onclick='window.location.href = "./newsFood"'><b>Czytaj dalej...</b></button>
                </div>
                <div class="post_container">
                    <h2>Dzień Kundelka 25.10</h2>
                    <p>Mamy dla Was niesamowite wydarzenie, które zapowiada się jako prawdziwa uczta dla miłośników czworonogów i odbędzie się 25.10.2023 w godzinach 10:00-16:00. Dzień Kundelka w naszym schronisku będzie dniem pełnym radości, licznych atrakcji i możliwości poznania niezwykłych psiaków, które czekają na swoje nowe domy.</p>
                    <button class="astext" onclick='window.location.href = "./newsDogDay"'><b>Czytaj dalej...</b></button>
                </div>
                <div class="post_container">
                    <h2>Dzień Otwarty 01.10.2023</h2>
                    <p>Mamy zaszczyt ogłosić Dzień Otwarty w naszym ukochanym schronisku! To wyjątkowa okazja, abyście mogli bliżej poznać naszą misję, interaktywnie spędzić czas z naszymi podopiecznymi i być może znaleźć nowego, wiernego przyjaciela. Przygotujcie się na dzień pełen atrakcji i możliwości nawiązania wyjątkowej więzi z naszymi niezastąpionymi podopiecznymi. </p>
                    <button class="astext" onclick='window.location.href = "./newsOpenDay"'><b>Czytaj dalej...</b></button>
                </div>
                <div class="post_container">
                    <h2>Rekrutacja wolontariuszy</h2>
                    <p>Wspaniałe wieści! Nasze schronisko "Super schronisko w jakimś mieście" rozpoczyna rekrutację wolontariuszy, którzy chcieliby wnieść swoją pasję, miłość i poświęcenie w pomoc naszym uroczym podopiecznym. Jeśli marzysz o pracy z psami, to ta szansa jest właśnie dla Ciebie! Czekamy na zgłoszenia do 31.07.2023.</p>
                    <button class="astext" onclick='window.location.href = "./newsVolunteers"'><b>Czytaj dalej...</b></button>
                </div>
            </div>
        </div>


        <!-- footer -->
        <div class="footer">
            <div class="creator">©2023 Created by <span>Grupa G</span> | All rights reserved</div>
        </div>

    </body>
</html>
