<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Strona schroniska</title>
        <!--   LOGO -> <link rel="icon" href="" type="image/x-icon">  -->
        <link rel="stylesheet" href="stylesheets/style.css">
    </head>


    <body>
        <!-- header with logo + menu -->
        <div class="header">
            <ul class="nav-bar">  
                <li class="nav-dog-title"> 
                    <img class="dog-icon"src="images/dog-icon.png" alt="Zdjecie pieska" >
                    <a class="nav-title">Super </br> schronisko w </br> jakimś mieście</a>
                </li>
                <li class="nav-button"><a href="/home">Aktualności</a></li>
                <li class="nav-button"><a href="/reserveWalk">Zarezerwuj spacer</a></li>
                <li class="nav-button"><a href="/ourDogs">Nasze pieski</a></li>
                <li class="nav-button"><a href="/supportUs">Wesprzyj nas</a></li>
                <li class="nav-button"><a href="/contact">Kontakt</a></li>
                <li class="nav-login-button">
                <% if(user){ %>
                    <button class="login-button" onclick="window.location.href='/user/myWalks';">
                        <a class="login-label" > <%= user.name %></a>
                        <img class="user-icon"src="images/user-icon.png" alt="Logo uzytkownika" >
                    </button>
                <% } else{ %>  
                    <button class="login-button" onclick="window.location.href='/login';">
                        <a class="login-label" >Zaloguj się</a>
                        <img class="user-icon"src="images/user-icon.png" alt="Logo uzytkownika" >
                    </button>
                <% } %>
            </li>
            </ul>
        </div>


        <!-- main site -->
        <div class="main">
            <h1>Aktualności</h1>
            <div class="box_container">
                <div class="single_post_container">
                    <h2>Zapraszamy na Dzień Otwarty w naszym schronisku</h2>
                    <p>Drodzy Miłośnicy Zwierząt,</br></br></br>
                    Mamy zaszczyt ogłosić Dzień Otwarty w naszym ukochanym schronisku "Super schronisko w jakimś mieście"! To wyjątkowa okazja, abyście mogli bliżej poznać naszą misję, interaktywnie spędzić czas z naszymi podopiecznymi i być może znaleźć nowego, wiernego przyjaciela.</br></br></p>
                    <h4>Data: 1 października 2023, Godzina: 11:00 - 17:00</h4></br>
                    <h4>Atrakcje na Dzień Otwarty:</h4>
                    <p>1. Adopcje Z Promocją: W dniu otwartym oferujemy specjalne warunki dla tych, którzy zdecydują się na adopcję. Każdy, kto znajdzie swojego nowego przyjaciela, otrzyma dodatkowe upominki.</p></br>
                    <p>2. Kreatywne Warsztaty dla Dzieci: Dla najmłodszych przygotowaliśmy warsztaty rękodzielnicze, gdzie dzieci będą mogły stworzyć własne ozdoby dla swoich nowych pupili.</p></br>
                    <p>3. Spotkanie z Weterynarzem: Nasz doświadczony weterynarz będzie dostępny, aby odpowiedzieć na Wasze pytania dotyczące opieki nad zwierzętami i zdrowia pupili.</p></br>   
                    <p>4. Kiermasz Z Przyborami Dla Zwierząt: Kupujcie niezbędne akcesoria dla Waszych pupili na naszym kiermaszu. Zyski z zakupów wesprą potrzeby schroniska.</p></br></br>
                    <p>Przygotujcie się na dzień pełen uśmiechów, radości i możliwości nawiązania wyjątkowej więzi z naszymi niezastąpionymi podopiecznymi. Dołączcie do naszego świata i odkryjcie, jak bardzo psiak może wzbogacić Wasze życie! Do zobaczenia!</br></br></br></br>
                    Zespół Schroniska dla Zwierząt "Super schronisko w jakimś mieście" </p>
                </div>
            </div>
        </div>


        <!-- footer -->
        <div class="footer">
            <div class="creator">©2023 Created by <span>Grupa G</span> | All rights reserved</div>
        </div>

    </body>
</html>