<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Strona schroniska</title>
        <!--   LOGO -> <link rel="icon" href="" type="image/x-icon">  -->
        <link rel="stylesheet" href="stylesheets/style.css">
    </head>


    <body>
        <!-- header with logo + menu -->
        <div class="header">
            <ul class="nav-bar">  
                <li class="nav-dog-title"> 
                    <img class="dog-icon"src="images/dog-icon.png" alt="Zdjecie pieska" >
                    <a class="nav-title">Super </br> schronisko w </br> jakimś mieście</a>
                </li>
                <li class="nav-button"><a href="/home">Aktualności</a></li>
                <li class="nav-button"><a href="/reserveWalk">Zarezerwuj spacer</a></li>
                <li class="nav-button"><a href="/ourDogs">Nasze pieski</a></li>
                <li class="nav-button"><a href="/supportUs">Wesprzyj nas</a></li>
                <li class="nav-button"><a href="/contact">Kontakt</a></li>
                <li class="nav-login-button">
                <% if(user){ %>
                    <button class="login-button" onclick="window.location.href='/user/myWalks';">
                        <a class="login-label" > <%= user.name %></a>
                        <img class="user-icon"src="images/user-icon.png" alt="Logo uzytkownika" >
                    </button>
                <% } else{ %>  
                    <button class="login-button" onclick="window.location.href='/login';">
                        <a class="login-label" >Zaloguj się</a>
                        <img class="user-icon"src="images/user-icon.png" alt="Logo uzytkownika" >
                    </button>
                <% } %>
            </li>
            </ul>
        </div>


        <!-- main site -->
        <div class="main">
            <h1>Aktualności</h1>
            <div class="box_container">
                <div class="single_post_container">
                    <h2>Ostatnio znalezione</h2>
                    <h3>Oto lista psów które zostały ostatnio znalezione i przekazane naszemu schronisku:</br></br></br></h3>
                    <div class="dog_container">
                        <container class="container">
                            <img class="dog-icon"src="images/dog-icon.png" alt="Zdjecie pieska" >
                            <p>Znaleziony 27.12.2023 na ul. Wielokomskiej</p>
                            <p>Pies średniej wielkości, kruczoczarny, z wyraźnymi brązowymi plamami na łapach. Około 3 lata, waga około 18 kg. Brak obroży. Przyjazny, łatwo nawiązuje kontakt. Odnaleziony w okolicach parku miejskiego.</p>
                        </container>
                        <container class="container">
                            <img class="dog-icon"src="images/dog-icon.png" alt="Zdjecie pieska" >
                            <p>Znaleziony 26.12.2023 w Parku Jordana</p>
                            <p>Mała suka o długiej sierści, koloru beżowego i białego. Około 2 lata, waga około 12 kg. Miała czerwoną obrożę bez oznaczeń, gdy została znaleziona i wydaje się bardzo przyzwyczajona do ludzi.</p>
                        </container>
                        <container class="container">
                            <img class="dog-icon"src="images/dog-icon.png" alt="Zdjecie pieska" >
                            <p>Znaleziony 23.12.2023 niedaleko cmentarza głównego</p>
                            <p>Mała suczka z długim, białym futrem. Szacowana waga to ok. 12kg. Jest bardzo ufna wobec ludzi i w dobrej kondycji fizycznej. Miała czerwoną obrożę bez oznaczeń, gdy została znaleziona.</p>
                        </container>
                        <container class="container">
                            <img class="dog-icon"src="images/dog-icon.png" alt="Zdjecie pieska" >
                            <p>Znaleziony 21.12.2023 w dzielnicy Stojecznej</p>
                            <p>Duży pies o gładkim, czarnym futrze z białą plamą na klatce piersiowej. Około 5 lat, waga około 25 kg. Brak obroży. Znaleziony w okolicach terenów rekreacyjnych, z ugryzieniem na lewej nodze.</p>
                        </container>
                        <container class="container">
                            <img class="dog-icon"src="images/dog-icon.png" alt="Zdjecie pieska" >
                            <p>Znaleziony 15.12.2023 na ul. Markowej</p>
                            <p>Średniej wielkości suka o kręconej sierści w odcieniach brązu. Około 4 lata, waga około 15 kg. Znaleziona z czarno-białą obrożą bez oznaczeń. Zauważona w okolicach sklepu spożywczego. Zachowuje się spokojnie, sprawia wrażenie zadbanego zwierzęcia.</p>
                        </container>
                    </div>
                </div>
            </div>
        </div>


        <!-- footer -->
        <div class="footer">
            <div class="creator">©2023 Created by <span>Grupa G</span> | All rights reserved</div>
        </div>

    </body>
</html>