<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Strona schroniska</title>
        <link rel="icon" href="images/dog-icon.png" type="image/x-icon">
        <link rel="stylesheet" href="stylesheets/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>


    <body>
        <!-- header with logo + menu -->
        <div class="header">
            <ul class="nav-bar">  
                <li class="nav-dog"> 
                    <div class="nav-dog-flex">
                        <img class="dog-icon"src="images/dog-icon.png" alt="Zdjecie pieska">
                        <a href="/home" class="nav-title">Super schronisko w jakimś mieście</a>
                    </div>
                </li>
                <div class="nav-bar-right">
                    <li class="nav-button"><a href="/home">Aktualności</a></li>
                    <li class="nav-button"><a href="/reserveWalk">Zarezerwuj spacer</a></li>
                    <li class="nav-button"><a href="/ourDogs">Nasze pieski</a></li>
                    <li class="nav-button"><a href="/supportUs">Wesprzyj nas</a></li>
                    <li class="nav-button"><a href="/contact">Kontakt</a></li>
                </div>
            </li>
            </ul>
        </div>


        <!-- main site -->
        <div class="main">
            <div class="post_container form-sign">
                <h1>REJESTRACJA</h1>
                <form method="post" action="/register">
                    <input class="option" type="name" id="name" name="name" placeholder="Imię" required pattern="^[a-zA-Z]+$">
                    <input class="option" type="surname" id="surname" name="surname" placeholder="Nazwisko" required pattern="^[a-zA-Z]+$">
                    <input class="option" type="email" id="email" name="email" placeholder="E-mail" required pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{1,}$">
                    <input class="option" type="phone" id="phone" name="phone" placeholder="Telefon (opcjonalnie)" pattern="^\d{9}$">
                    <input class="option" type="password" id="password" name="password" placeholder="Hasło" required>
                    <% if(message){ %>
                        <span class="message"><%= message %></span>
                    <% } %>
                    <button class="option" type="submit">ZAREJESTRUJ SIĘ</button>
                </form>
                <!-- <a href="/login">
                    <button class="option">ZALOGUJ</button>
                </a> -->
                <a class="login_text">Masz już konto?</a>
                <a class="login_link" href="/login"><b>Zaloguj się</b></a>
            </div>
        </div>


        <!-- footer -->
        <div class="footer">
            <div class="creator">©2023 Created by <span>Grupa G</span> | All rights reserved</div>
        </div>

    </body>
</html>