

.spacer_filter {
	position: relative;
	bottom: 0;
	right: 0;
	width: 90%;
    margin: auto;
	margin-top: 50px;
    background-color: lightgrey;
	border: solid;
	border-width: 2px;
	border-color: #000;
	height: 100px;
	display: flex;
	justify-content: left;
	align-items: center;
	font-size: 18px;
}

.imie_box {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 5px;
	padding-right: 5px;
	width: auto;
}

.wiek_box {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 5px;
	padding-right: 5px;
}

.dzien_box {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 5px;
	padding-right: 5px;
}

.godz_box {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

#date_start_input{
	width: 110px;
	height: 30px;
	font-size: 16px;
	
}
#date_end_input{
	width: 110px;
	height: 30px;
	font-size: 16px;
}

#imie_input{
	font-size: 16px;
	width: 100px;
	margin-right: 10px;
	height: 30px;
}

#dzien_input{
	height: 30px;
	margin-left: 10px;
	border: none;
	border-radius: 5%;
	font-size: 16px;
}

#godz_end_input{
	height: 30px;
	margin-left: 10px;
	border: none;
	border-radius: 5%;
	font-size: 16px;
	margin-right: 20px;
	font-family: 'Segoe UI';
}

#godz_start_input{
	height: 30px;
	margin-left: 10px;
	margin-right: 10px;
	border: none;
	font-family: 'Segoe UI';
	border-radius: 5%;
	font-size: 16px;
}

.zatwierdz_box {
	padding: 20px;
	
}


.confirm_reserve_filter{
	background-color: #D4D823;
    padding: 5% 10%;
    border-radius: 7px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
	margin-right: 20px;
	margin-left: 20px;
}

.doggo_and_gap {
	height: 220px;
	border: #000 solid 2px;
	background-color: lightblue;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
	padding: 10px;
}

.gap {
	height: 30px;
	text-align: bottom;
}

.just_doggo {
	display: flex;
	height: 245px;
}

.doggo {
	margin-left: 30px;
	margin-top: 35px;
	width: 245px;
	height: 245px;
}

.doggo_icon {
	width: 130px;
	height: 130px;

}

.doggo_info {
	width: 245px;
	height: 245px;
	display: block;
	margin-left: 50px;
}

.doggo_name {
	margin-top: 25px;
	width: 245px;
	height: 60px;
	position: relative;
	border: #000;
    border-style: none;
    border-radius: 25px;
}

.doggo_label {
	font-size: 45px;
	justify-content: center;
	align-items: center;
}

.doggo_info_text {
	display: block;
}

.spacer_list_class {
    list-style:none;
	padding-left: 0px;
}


.spacer_box {
	max-height:652px;
    overflow-y:auto;
	width: 90%;
    margin: auto;
    background-color:antiquewhite;
	border: #000 solid 2px;
	border-top: none;
}

.main_rezerwacja {
	display:flex;
	max-height:652px;
	height:652px;
	justify-content: center;
}

.rezerwacja_withpadding {
	width:80%;
	display:flex;
}

.rezerwacja_doggo_info {
	width:20%;
	height: 100%;
	display:flex;
	flex-direction: column; 
}

.rezerwacja_info_box {
	display:flex;
	width: 85%;
	height: 100%;
}

.rezerwacja_doggo_label2 {
	font-size: 200%;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.rezerwacja_doggo_name {
	vertical-align: middle;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 200%;
}

.rezerwacja_doggo_label {
	
	height: 150px;
	width: 600px;
}

.rezerwacja_doggo_label_text {
	vertical-align: middle;
	font-size: 30px;
}

.info_grid_box {
	padding-top:100px;
	display: grid;
	grid-template-columns: auto auto;
	column-gap: 20px;
	row-gap: 20px;
}

.rigb_imie {
	height:150px;
	width: 100%;
	font-size: 25px;
	margin: auto;
	text-align: center;
}

.rigb_naziwsko {
	height:150px;
	width: 100%;
	font-size: 25px;
}

.rigb_telefon {
	height:150px;
	width: 100%;
	font-size: 25px;
}

.rigb_email {
	height:150px;
	width: 100%;
	font-size: 25px;
}

.rezerwacja_potwierdz {
	display: flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
}

.rezerwacja_missing_info {
	align-items: center;
	justify-content: center;
	vertical-align: middle;
}

.rezerwacja_potwierdz-label {
	float: left;
    margin-top: 5px;
    margin-right: 5px;
}

.rezerwacja_potwierdz_wide {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
	flex-direction: column;
}

.rezerwacja_middle {
	height: auto;
	width: 600px;
	background-color: White;
}

.filter_icon{
    width: 2.5%;
    height: auto;
    float: left;
    margin-left: 5px;
}
.enter_icon{
	width: 5%;
	height: auto;
	vertical-align: middle;
    border: 2px solid black;
}

.spacer_udany_yay{
	height: 48.4rem;
	vertical-align: middle;
	font-size:2.5rem;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.go-home-button {
	font-size: 2.5rem;
    cursor: pointer;
    background-color: #D88223;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    margin-left: 0px;
    margin-right: 0px;
    border: #000;
    border-style: solid;
    border-radius: 25px;
}

.doggo_calendar_box {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 230px;
	width: 100%;
	margin-left: 100px;
}

.doggo_calendar {
	height: 100%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.doggo_calendar-copy {
	height: 80%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.doggo_choose_termin {
	height: 20%;
	display: flex;
	width: auto;
	align-items: center;
	justify-content: center;
	font-size: 18px;
}

.doggo_termin {
	height: 15%;
	width: auto;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.doggo_termin a {
	text-decoration: none;
	color: #000;
}

.doggo_termin_other {
	height: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.filter_hide {
	display: none;
}
