/*
	better for merge conflicts
*/
@import "reserve_walk.css";

html{
    font-size: 100%;
    overflow-x: hidden;
    scroll-padding-top: 8rem;
    scroll-behavior: smooth;
}

body {
    background-color: white;
    font-family: Helvetica;
    text-align: center;
    color: black;
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    min-height: 100vh;
}

/* te podkreślone duże napisy na górze stron */ 
h1 {
    text-decoration-line: underline;
    font-size: 2.5rem;
    padding: 4rem 1rem 2rem 1rem;
    text-align: left;
    margin-left: 10%;
}

/* header, footer */
.header { 
    background-color: #589B3B;
    border-bottom: 1px solid black;
}

.footer { 
    position: absolute;
    bottom: 0;    
    width: 100%;
    height: 50px;
    background-color: #589B3B;
    padding-top: 30px;
    border-top: 1px solid black;
}


/* main section */
.main {
    padding-bottom: 10rem;
}

.box_container {
    display: flex;
    margin: auto;
    width: 80%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 2rem;
}

.post_container, .contact_container, .data_container {
    position: relative;
    border-radius: 25px;
    border: 2px solid black;
    background: antiquewhite;
    padding: 2rem;
    width: 450px;
    height: 300px;
    margin: 1.5rem;
}

.post_container:first-of-type {
    border: 4px solid gold;
}

.post_container p {
    text-align: justify;
    padding: 1rem;
    overflow: hidden;
    max-height: 50%;
}

.single_post_container {
    position: relative;
    border-radius: 25px;
    border: 2px solid black;
    background: antiquewhite;
    padding: 2rem;
    width: 80%;
    height: auto;
    margin: 1.5rem;
    padding-bottom: 4rem;
}

.single_post_container h2 {
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.single_post_container p, h4 {
    text-align: justify;
    padding-left: 2rem;
    padding-right: 2rem;
}

.dog_container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items:center;
    width:100%;
    margin: 1rem;
}

.dog_container .container {
    margin: 0.8rem;
}

.dog_container img {
    padding-right: 1rem;
}

/* przycisk czytaj dalej przy aktualnościach */
.astext {
    position: absolute;
    bottom: 0;
    right: 0;
    background:#D88223;
    border:none;
    border-radius: 12px;
    cursor: pointer;
    padding: 12px;
    margin: 2rem 2.5rem;
}

/* Pasek nawigacji */
.nav-bar{
    padding-top: 20px;
    list-style: none;
    margin-block-start: 0;
    font-size: 1.5rem;
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 40px;
}

.nav-bar li{
    display: inline-block;
}

.nav-bar li a{
    text-decoration: none;
    color: #000;
    margin: auto;
}

.dog-icon{
    max-width: 25%;
    min-width: 130px;
    margin-top: auto;
    margin-bottom: auto;
    box-sizing: border-box;
}
.nav-title{
    margin-left: 5%;
    margin-right: 0px;
    box-sizing: border-box;
    font-size: larger;
}

.nav-dog-flex{
    display: flex;
    box-sizing: border-box;
    flex-wrap: nowrap;
    flex-grow: 1;
}

.nav-dog{
    width: 20%;
    margin-right: 8%;
}

.nav-button{
    float: left;
}

.nav-login-button{
    padding-top: 5px;
}

.login-button{
    font-size: 1.5rem;
    cursor: pointer;
    background-color: #D88223;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    margin-left: 0px;
    margin-right: 0px;
    border: #000;
    border-style: solid;
    border-radius: 25px;
	display:inline-flex;
}

.login-label{
    float: left;
    margin-top: 8px;
    margin-right: 5px;
}

.user-icon{
    width: 35px;
    height: 35px;
    margin: 0;
    padding: 0;
    float: right;
}

.nav-bar-right {
    margin-right: 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    margin-left: auto;
}

@media only screen and (max-width: 350px) {
    .nav-dog-flex{
        flex-wrap: wrap;
    } 

    .nav-dog{
        margin-left: 20%;
    } 
}

@media only screen and (max-width: 480px) {
    .nav-dog{
        margin-right: 40%;
    } 
}

@media only screen and (max-width: 640px) and (min-width: 481px) {
    .nav-dog{
        margin-right: 20%;
    }

}

@media only screen and (max-width: 768px) and (min-width: 641px) {
    .nav-dog{
        margin-right: 15%;
    }

}

@media only screen and (max-width: 1500px) {
    .nav-bar-right{
        margin-left: 0;
        justify-content: space-evenly;
        row-gap: 10px;
        margin-right: 0;
    }

    .header ul {
        padding: 2%;
    }

    .user-icon{
        width: 30px;
        height: auto;
        margin-left: 3px;
    }

    .nav-bar{
        justify-content: center;
    }
}

@media only screen and (min-width: 2000px) {
    .nav-bar{
        padding-inline-start: 10px;
        font-size: 1.5vw;
    }

    .nav-bar-right{
        gap: 2%;
        flex-basis: 70%;
        margin-left:initial;
        margin-right: 0%;
    }

    .login-button{
        font-size: 1.5vw;
    }

    .user-icon{
        width: 40px;
        height: auto;
    }
}

@media only screen and (min-width: 3800px) {
    .user-icon{
        width: 60px;
        height: 60px;
    }
}

@media only screen and (min-width: 5000px) {
    .user-icon{
        width: 90px;
        height: 90px;
    }
}

@media only screen and (min-width: 7000px) {
    .user-icon{
        width: 120px;
        height: 120px;
    }
}


/* Logowanie i Rejestracja */
.post_container.form-sign {
    border-color: #000;
    margin: 4% auto;
    height: auto;
}

.form-sign h1 {
    text-decoration: none;
    text-align: center;
    padding: 0;
    margin: 2%;
}

.form-sign .option {
    border: 1px solid black;
    font-size: x-large;
    padding: 5%;
    margin: 2%;
    min-width: 80%;
    border-radius: 20px;
}

.form-sign [type="submit"] {
    background-color: #D88223;
}

.form-sign button {
    font-weight: bold;
    background-color: #D4D823;
    width: 90%;
    cursor: pointer;
}

.message {
    color: rgb(219, 20, 20);
    display: block;
}

/* Panel użytkownika */

.flex-container {
    display: flex;
    width: 100%;
    margin: 0;
    font-size: 1.5rem;
}

.sidebar {
    background-color: #EFE3DA;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* min-width: 15%; */
    min-height: 100vh;
    border-right: 1px solid black;
}

.sidebar-option {
    font-size: large;
    border: solid black 1px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #EFE3DA;
    min-height: 10%;
}

.sidebar-option:first-of-type {
    height: 150px;
    /* background-color: rgb(184, 182, 182); */
    background-color: #D88223;
    cursor: default;
}

.sidebar-option-last {
    border-bottom-width: 2px;
}

.sidebar-option-current{
    background-color: #EFE3DA;
    font-weight: bold;
    border-width: 3px;
}

.sidebar-option img{
    margin-right: 10px;
}

.flex-container .main{
   min-width: 100%;
}

.flex-container table{
    margin: 2% 5% 5% 5%;
    width: 80%;
 }

.flex-container th {
    background-color: #589B3B;
}

.flex-container tr:nth-child(odd) {
    background-color: rgb(184, 182, 182);
}

.flex-container td,th {
    padding: 5%;
    font-size: 1.5rem;
}

.flex-container table img {
    max-width: 100px;
    width: 100%;
    min-width: 80px;
    height: auto;
}

table, td, th {
    border: 2px solid black;
    border-collapse: collapse;
}

.cancelWalk {
    background-color: red;
    padding: 4% 6%;
    border-radius: 7px;
    cursor: pointer;
    font-weight: bold;
}

.logout {
    /* background-color: rgb(192, 23, 23); */
    background-color: gray;
    margin-top: auto;
    margin-bottom: 80px;
    border-bottom: 0px;
    border-top-width: 2px;
}

@media only screen and (max-width: 955px){
    .flex-container td, th {
        font-size: 0.5rem;
        padding: 2%;
    }

    .main button {
        font-size: 0.5rem;
    }

    .sidebar-option {
        font-size: 1.5rem;
    }

    .font {
        font-size: 1.5rem;
        text-align: center;
        margin: 0;
        padding: 0;
        margin-top: 5%;
    }

    .flex-container{
        flex-wrap: wrap;
        justify-content: center;
    }

    .sidebar{
        min-height: none;
        min-width: 100vw;
    }

    .flex-container .main {
        display: flex;
        flex-direction: column;
        justify-content: stretch;

    }

    .flex-container table{
        margin: auto;
        min-width: none;
        width: 95%;
    }
    
    .flex-container hr{
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    .flex-container hr{
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    
    .logout {
        margin-top: 0px;
        margin-bottom: 0px;
        border-bottom: 2px solid black;
    }
}

@media only screen and (max-width:400px){
    .flex-container td, th {
        font-size: 0.3rem;
        padding: 0px;
    }
}

@media only screen and (min-width: 2000px){
    .flex-container td, th {
        font-size: 1.5vw;
    }

    .main button {
        font-size: 1vw;
    }

    .sidebar-option {
        font-size: 1.5vw;
    }

    .font {
        font-size: 3vw;
    }

    .logout {
        margin-bottom: 110px;
    }

    .footer{
        font-size: 1.5vw;
        height: 80px;
    }
}

@media only screen and (min-width: 2880px){
    .flex-container table img {
        min-width: 180px;
    }
}

@media only screen and (min-width: 4000px){
    .flex-container table img {
        min-width: 230px;
    }

    .logout {
        margin-bottom: 180px;
    }

    .footer{
        font-size: 1.5vw;
        height: 150px;
    }
}

/* Nasze pieski */
.contact-bubble {
    background-color: #B7C9F9;
    border-radius: 30px;
    padding: 1%;
    margin-right: 50px;
    max-width: 20%;
    float: right;
}

.mini-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: right;
}

.dogs-table {
    width: 90%;
    margin: auto;
    background-color: #EFE3DA;
}


.filter {
    text-align: left;
    font-size: x-large;
    background-color: #D9D9D9;
}

.filter td{
    border: none;
    margin: 5%;
    padding: none;
}

.dogs-table td {
    padding: 1% 2%;
}

.dogs-table img {
    width: 50px;
    margin-right: 20px;
}

.filter td:last-of-type{
    min-width: 250px;
    padding: 0%;
    text-align: center;
}

.filter button {
    background-color: #D4D823;
    padding: 5% 10%;
    border-radius: 7px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}

.filter  input{
    width: 40%;
}

.inner-dogs-table {
    width: 100%;
}

.inner-dogs-table, .inner-dogs-table td {
    border:none;
}

.inner-dogs-table tr {
    background-color: #A7CDD6;
    border: 2px solid black;
    margin: 1%;
    padding: 2%;
    border-radius: 25px;
    text-align: center;
}

/* supportUs */

.support-us-message{
    text-align: left;
    font-weight: normal;
    margin-left: 20%;
    margin-bottom: 20px;
    margin-top: 50px;
}


.support-button, input[type=submit]{
    font-size: 18px;
    cursor: pointer;
    background-color: #D88223;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 0px;
    margin-right: 0px;
    border: #000;
    border-style: solid;
    border-radius: 25px;
    margin-top: 30px;
}

.support-button-box{
    margin-top: 20px;
}

/* Kontakt */

input[type=submit] {
    font-size: 14px;
    margin-top: 10px;
}

input[type=text], .data_container input[type=password], textarea {
    width: 49%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 10px;
    resize: none;
}

textarea {
    width: 99%;
    height: 120px;
    font-family: Helvetica;
}

.contact_container {
    width: 600px;
    height: 300px;
}

.contact_frame {
    margin: auto;
    padding-right: 3rem;
    text-align: left;
    font-size: larger;
}

.contact_with_icon {
    display: flex;
    align-items: center;
}

.contact_with_icon p {
    margin-left: 1rem;
}

.fa {
    color: #589B3B;
}


/* Dane użytkownika */

.data_frame {
    padding-top: 1rem;
    width: 30%;
    text-align: left;
    font-size: larger;
}

.data_container {
    width: 50%;
    height: auto;
}

.data_container input[type=text], .data_container input[type=password]{
    width: 100%;
}

.data_frame p {
   padding-bottom: 2rem;
}

.site-title{
    margin-bottom: 5px;
    padding-bottom: 0;
    text-decoration: none;
    font-weight: 100;
}

.site-title-line{
    margin-top: 0;
    width: 18%;
    float: left;
    margin-left: 11%;
    border: 0; 
    height: 2px; 
    background-color: black; 
}

.our-dogs-desc{
    width: 40%;
    margin-left: 20px;
}

.our-dogs-age{
    
    width: 20%;
}

#our_dogs_name{
    width: 50%;
    height: 35px;
    font-size: 20px;
    padding: 2px;
   
}

#our_dogs_age{
    width: 30%;
    height: 35px;
    font-size: 20px;
    border: none;
    border-radius: 5%;
    margin-right: 0px;
}

#our_dogs_adoptable_td{
    text-align: center;
    width: 30%;
}


input.checkbox-ourdogs{
    width: 30px;
    height: 30px;

}

/* Customowy confirm box */

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
  }

.modal-content {
    text-align: center;
}

.modal-content button{
    text-align: center;
    margin: 3px;
}

/* Walk - Rezerwacja */
.flex-reservation {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 2% 12%;
    gap: 10%;
}

.reservation-left {
    padding-top: 2%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 15%;
    gap: 20px;
}

.reservation-right {
    text-align: center;
}

.reservation-right h2{
 font-weight: normal;
}

.flex-reservation-right{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    row-gap: 50px;
    margin: 6% auto;
}

.distancer {
    margin: 10px;
}

.flex-reservation-right input{
    text-align: center;
    width: 43%;
    border: rgb(105, 105, 105) solid 1px;
    border-radius: 4px;
}

.flex-reservation-right input[type=text]{
    width: 40.5%;
    border: rgb(105, 105, 105) solid 1px;
    box-sizing: initial;
}


.rezerwacja_potwierdz-button {
	font-size: 18px;
    cursor: pointer;
    background-color: #D88223;
    padding: 4% 6%;
    margin: 3%;
    border: black solid 3px;
    border-radius: 25px;
}

.ourdogs-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.ourdogs-title{
    width: 50%;
    height: 200px;
}

.login_text{
    font-size: 25px;
}

.login_link{
    font-size: 25px;
    color: #000;
    text-decoration: none;
}

.mydata .data_container {
    padding: 1.5rem;
}

/* my_data responsiveness */

.data_flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.data_form {
    height: 100%;
}

.data_input{
    font-size: 1rem;
    padding: 4%;
}

@media only screen and (max-width: 500px){
    .mydata .box_container {
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media only screen and (max-width: 955px){
    .mydata .data_frame {
        text-align: center;
    }
    
    .mydata .box_container {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (min-width: 2000px){
    .mydata h3, .mydata p{
        font-size: 1.5vw;
    }

    .mydata {
        padding-bottom: 10%;
    }

    .data_input{
        font-size: 1vw;
        padding: 4%;
    }
}