/*
	better for merge conflicts
*/
@import "reserve_walk.css";

html{
    font-size: 100%;
    overflow-x: hidden;
    scroll-padding-top: 8rem;
    scroll-behavior: smooth;
}

body {
    background-color: white;
    font-family: Helvetica;
    text-align: center;
    color: black;
    margin: 0;
    padding: 0;
    width: 100%;
}

/* to podkreślone duże napisy na górze stron */ 
h1 {
    text-decoration-line: underline;
    font-size: 2.5rem;
    padding: 4rem 1rem 2rem 1rem;
    text-align: left;
    margin-left: 10%;
}

/* header i footer roboczo tak tylko bo chciałam widzieć kolorki i ułożenie elementów na stronie xd */
.header { 
    height: 100px;
    background-color: #589B3B;
   
}

.footer { 
    height: 50px;
    background-color: #589B3B;
    padding-top: 30px;
}


/* main section */
.main {
    padding-bottom: 4rem;
}

.box_container {
    display: flex;
    margin: auto;
    width: 80%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 2rem;
}

.post_container, .contact_container, .data_container {
    position: relative;
    border-radius: 25px;
    border: 2px solid black;
    background: antiquewhite;
    padding: 2rem;
    width: 450px;
    height: 300px;
    margin: 1.5rem;
}

.post_container:first-of-type {
    border: 4px solid gold;
}

.post_container p {
    text-align: justify;
    padding: 1rem;
    overflow: hidden;
    max-height: 50%;
}

.single_post_container {
    position: relative;
    border-radius: 25px;
    border: 2px solid black;
    background: antiquewhite;
    padding: 2rem;
    width: 80%;
    height: auto;
    margin: 1.5rem;
    padding-bottom: 4rem;
}

.single_post_container h2 {
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.single_post_container p, h4 {
    text-align: justify;
    padding-left: 2rem;
    padding-right: 2rem;
}

.dog_container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items:center;
    width:100%;
    margin: 1rem;
}

.dog_container .container {
    margin: 0.8rem;
}

.dog_container img {
    padding-right: 1rem;
}

/* przycisk czytaj dalej przy aktualnościach */
.astext {
    position: absolute;
    bottom: 0;
    right: 0;
    background:none;
    border:none;
    cursor: pointer;
    padding: 2rem;
}

/* Pasek nawigacji */
.nav-bar{
    padding-top: 20px;
    list-style: none;
    margin-block-start: 0;
    font-size: 18px;
	display: flex;
}

.nav-bar li{
    display: inline-block;
}

.nav-bar li a{
    text-decoration: none;
    color: #000;
}

.dog-icon{
    width: 10%;
    height: auto;
    float: left;
    margin-left: 10px;
}
.nav-title{
    float: left;
    margin-left: 5px;
    margin-right: 0px;
}

.nav-dog-title{
    margin-left: 0;
    margin-bottom: 0px;
    padding-right: 0;
    float: left; 
    padding-left: 0;
}

.nav-button{
    padding-top: 20px;
    float: left;
    margin-right: 30px;
}

.nav-login-button{
    padding-top: 5px;
}

.login-button{
    font-size: 18px;
    cursor: pointer;
    background-color: #D88223;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    margin-left: 0px;
    margin-right: 0px;
    border: #000;
    border-style: solid;
    border-radius: 25px;
	display:inline-flex;
}

.login-label{
    float: left;
    margin-top: 8px;
    margin-right: 5px;
}

.user-icon{
    width: 35px;
    height: 35px;
    margin: 0;
    padding: 0;
    float: right;
}

/* Logowanie i Rejestracja */
.post_container.form-sign {
    border-color: #000;
    margin: 4% auto;
    height: auto;
}

.form-sign h1 {
    text-decoration: none;
    text-align: center;
    padding: 0;
    margin: 2%;
}

.form-sign .option {
    border: 1px solid black;
    font-size: x-large;
    padding: 5%;
    margin: 2%;
    min-width: 80%;
    border-radius: 20px;
}

.form-sign [type="submit"] {
    background-color: #D88223;
}

.form-sign button {
    font-weight: bold;
    background-color: #D4D823;
    width: 90%;
    cursor: pointer;
}

.message {
    color: rgb(219, 20, 20);
    display: block;
}

/* Panel użytkownika */

.flex-container {
    display: flex;
    width: 100%;
    margin: 0;
}

.sidebar {
    background-color: #D88223;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-width: 10%;
    border-right: 1px solid black;
}

.sidebar-option {
    font-size: large;
    border: solid black 1px;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sidebar-option:first-of-type {
    background-color: grey;
    cursor: default;
}

.sidebar-option:last-of-type {
    border-bottom-width: 2px;
}

.sidebar-option-current{
    background-color: #D4D823;
    font-weight: bold;
}

.sidebar-option img{
    margin-right: 10px;
}

.flex-container .main{
   min-width: 100%;
}

.flex-container table{
    margin: 0 5% 5% 5%;
    min-width: 80%;
 }

.flex-container th {
    background-color: #589B3B;
}

.flex-container tr:nth-child(odd) {
    background-color: grey;
}

.flex-container td,th {
    padding: 30px;
}

table img {
    max-width: 100px;
    width: 100%;
    height: auto;
}

table, td, th {
    border: 2px solid black;
    border-collapse: collapse;
}

.cancelWalk {
    background-color: red;
    padding: 4% 6%;
    border-radius: 7px;
    cursor: pointer;
    font-weight: bold;
}

.logout {
    background-color: red;
    font-weight: bold;
}

/* Nasze pieski */
.contact-bubble {
    background-color: #B7C9F9;
    border-radius: 30px;
    padding: 1%;
    margin: 3% 5%;
    max-width: 17%;
}

.mini-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dogs-table {
    width: 90%;
    margin: auto;
    background-color: #EFE3DA;
}

.filter {
    text-align: left;
    font-size: x-large;
    background-color: #D9D9D9;
}

.filter td{
    border: none;
    margin: 5%;
}

.dogs-table td {
    padding: 1% 2%;
}

.dogs-table img {
    width: 50px;
    margin-right: 20px;
}

.filter td:last-of-type{
    min-width: 250px;
    padding: 0%;
    text-align: center;
}

.filter button {
    background-color: #D4D823;
    padding: 5% 10%;
    border-radius: 7px;
    cursor: pointer;
    font-weight: bold;
}

.inner-dogs-table {
    width: 100%;
}

.inner-dogs-table, .inner-dogs-table td {
    border:none;
}

.inner-dogs-table tr {
    background-color: #A7CDD6;
    border: 2px solid black;
    margin: 1%;
    padding: 2%;
    border-radius: 25px;
    text-align: center;
}

/* supportUs */

.support-us-message{
    text-align: left;
    font-weight: normal;
    margin-left: 40px;
    margin-bottom: 20px;
}

.main-title{
    font-weight: normal;
}

.support-button, input[type=submit]{
    font-size: 18px;
    cursor: pointer;
    background-color: #D88223;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 0px;
    margin-right: 0px;
    border: #000;
    border-style: solid;
    border-radius: 25px;
    margin-top: 30px;
}

.support-button-box{
    margin-top: 20px;
}

/* Kontakt */

input[type=submit] {
    font-size: 14px;
    margin-top: 10px;
}

input[type=text], input[type=password], textarea {
    width: 49%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 10px;
    resize: none;
}

textarea {
    width: 99%;
    height: 120px;
    font-family: Helvetica;
}

.contact_container {
    width: 600px;
    height: 300px;
}

.contact_frame {
    margin: auto;
    padding-right: 3rem;
    text-align: left;
    font-size: larger;
}

.contact_with_icon {
    display: flex;
    align-items: center;
}

.contact_with_icon p {
    margin-left: 1rem;
}

.fa {
    color: #589B3B;
}


/* Dane użytkownika */

.data_frame {
    padding-top: 1rem;
    width: 30%;
    text-align: left;
    font-size: larger;
}

.data_container {
    width: 50%;
    height: auto;
}

.data_container input[type=text], .data_container input[type=password]{
    width: 100%;
}

.data_frame p {
   padding-bottom: 2rem;
}

/* Customowy confirm box */

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
  }

.modal-content {
    text-align: center;
}

.modal-content button{
    text-align: center;
    margin: 3px;
}
